*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#111827);
    min-height:100vh;
}

/* Main container*/

.container{
    width:100%;
    min-height:100vh;
    display:flex;
}

/* Left section*/

.left{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:70px;
    color:white;
}

.logo{
    font-size:55px;
    margin-bottom:10px;
    font-weight:700;
}

.left h2{
    font-size:34px;
    margin-bottom:20px;
    color:#60a5fa;
}

.left p{
    width:85%;
    line-height:28px;
    font-size:17px;
    color:#cbd5e1;
    margin-bottom:35px;
}
.feature{
    width:320px;
    padding:16px 20px;
    background:rgba(255,255,255,0.06);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:12px;
    display:flex;
    align-items:center;
    gap:15px;
    color:white;
    transition:0.3s ease;
    cursor:pointer;
}

.feature i{
    font-size:20px;
    color:#60a5fa;
    transition:0.3s ease;
}

.feature:hover{
    transform:translateX(8px);
    background:#3557B7;         
    box-shadow:0 8px 20px rgba(37,99,235,0.35);
}

.feature:hover i{
    color:#ffffff;
}

.feature:hover span{
    color:#ffffff;
}
/*Right side */

.right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*Login card*/

.login-card{
    width:420px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.15);
    border-radius:18px;
    padding:40px;
    color:white;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.login-card h2{
    font-size:30px;
    margin-bottom:10px;
}

.login-card p{
    color:#94A3B8;;
    margin-bottom:25px;
}

.login-card label{
    display:block;
    margin:12px 0 6px;
    font-weight:500;
}

.login-card input,
.login-card select{
    width:100%;
    padding:12px 15px;
    border:none;
    border-radius:10px;
    outline:none;
    margin-bottom:15px;
    font-size:15px;
}

.login-card button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.login-card button:hover{
    background:#3b82f6;
    transform:translateY(-2px);
}